* {
    font-family: 'Manrope', sans-serif;
}

body, html {
    height: 100%;
    background: rgb(0, 117, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 700px;
    background: white;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding: 20px;
}

h1 img {
    width: 300px;
    margin-bottom: 20px;
}

#pass-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: large;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.input-container input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

#togglePassword {
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 70%;
    transform: translateY(-50%);
    color: rgb(109, 109, 109);
}

#togglePassword2 {
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 70%;
    transform: translateY(-50%);
    color: rgb(109, 109, 109);
}

#pass-form button {
    padding: 1em;
    width: 40rem;
    background-color: #002f5f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 10px 20px;
    box-sizing: border-box;
}

#pass-form button:hover {
    background-color: #0294d9; 
    color: #fff; 
}

@media only screen and (max-width: 765px) {
    .form-container {
        width: 80%;
    }

    #pass-form button {
        width: 20rem;
    }


    h1 img {
        width: 80%;
        transform: translateX(15%); 
    }

    .input-container label {
        padding-top: 10px;
    }

    #togglePassword {
        right: 10%;
        bottom: 20%;
    }

    #togglePassword2 {
        right: 10%;
        bottom: 20%;
    }

    .input-container input {
        padding: 10px;
        padding-right: 40px;
    }

}


@media only screen and (max-width: 405px) {
    .form-container {
        width: 70%;
    }

    #pass-form button {
        width: 10rem;
    }



    h1 img {
        width: 80%;
        transform: translateX(20%); 
    }

    .input-container input {
        padding: 10px;
        padding-right: 40px;
    }


}
